@using ubb_cyber.ViewModels;
@model PanelAddUserViewModel;

@{
    ViewData["Title"] = "Dodaj użytkownika - Panel administracyjny";
}

<div>
    <p class="fs-5">
         Panel administracyjny / Lista użytkowników aplikacji / Nowy użytkownik
    </p>
    <div class="d-flex justify-content-center">
        <div class="w-50 p-4">
            <div>
                <form asp-controller="Admin" asp-action="AddUser">
                    <div class="mb-3">
                        <label for="inputLogin" class="form-label">Login:</label>
                        <input asp-for="Login" type="text" class="form-control" id="inputLogin">
                        <span class="text-danger" asp-validation-for="Login"></span>
                    </div>

                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Hasło:</label>
                        <input asp-for="Password" type="password" class="form-control" id="inputPassword">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>

                    <div class="mb-2 form-check">
                        @Html.CheckBoxFor(m => m.Otp, new { @class = "form-check-input" })
                        @Html.LabelFor(x => x.Otp, "Hasło jednorazowe", new { @class = "form-check-label" })
                    </div>

                    <div class="mb-3">
                        <label for="inputPasswordConfirm" class="form-label">Powtórz hasło:</label>
                        <input asp-for="PasswordConfirm" type="password" class="form-control" id="inputPasswordConfirm">
                        <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                    </div>

                    <div class="d-flex justify-content-center">
                        <a asp-controller="Admin" asp-action="Users" class="btn btn-primary px-3 me-3">Anuluj</a>
                        <button type="submit" class="btn btn-success px-3">Dodaj użytkownika</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
